.main-page {
    display: flex;
    position: relative;
}

.show-desktop {
    position: absolute;
    z-index: 10;
    top: 0.5rem;
    left: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .show-desktop {
        display: none;
    }
}