.station-description {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-inline-start: 0;
}

.station-description li {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    font-weight: 500;
    font-size: 15px;
}

.station-description li h4 {
    margin-bottom: -10px;
}

.danger_text {
    color: red;
    font-weight: 600;
}

.description-button {
    margin-top: -15px;
    align-self: flex-start;
}

.button-charge {
    background-color: #1B6DD1;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
}

@media only screen and (max-width: 700px) {
    .station-description li {
        font-size: 13px;
    }
    .station-description li h4 {
        font-size: 20px;
    }
}